body{
	margin: 0;
	padding: 0;
	font-family: candara;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/background.jpg);
	background-size: cover;
	height: 100vh;

}
.login_box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.login_box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #e31388;
	margin-bottom: 50px;
	padding: 13px;
}
.text_box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px;
	margin: 8px;
	border-bottom: 1px solid #e31388;
}
